/*! purgecss start ignore */
@tailwind base;

/* roboto-slab-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-slab-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v12-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v12-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v12-latin-ext_latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-800 - latin-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/roboto-slab-v12-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v12-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v12-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v12-latin-ext_latin-800.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* poppins-300 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'),
       url('../fonts/poppins-v9-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v9-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v9-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v9-latin-ext_latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/poppins-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v9-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v9-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v9-latin-ext_latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('../fonts/poppins-v9-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v9-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v9-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v9-latin-ext_latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

@tailwind components;

.purple-blob-bg {  }

.heading {
  @apply mb-8 text-2xl font-extrabold font-display;
}

.hero {
  @apply relative overflow-hidden;
}

.content-container {
  @apply mx-auto w-full;
}

.primary-btn {
  @apply inline-flex text-white bg-brand-red-500 border-0 py-1 px-6 rounded-lg font-extrabold text-sm;
}

.primary-btn:hover {
  @apply bg-brand-red-400;
}

.callout-card {
  @apply mb-8 w-full rounded overflow-hidden bg-white p-4 shadow-brand flex flex-row justify-start items-center transition-all duration-300 ease-out;
}

@screen sm {
  .content-container {
    @apply rounded px-6;
  }
}

@screen md {
  .heading {
    @apply ml-16;
  }
  .callout-card {
    @apply mb-0;
  }
  .callout-card:hover {
    @apply -mt-8;
  }
}

@screen lg {
  .hero {
    @apply relative bg-no-repeat bg-cover overflow-hidden h-screen;
    background-image: url("../images/heroBG.jpg");
  }
  .purple-blob-bg {
    @apply bg-no-repeat;
    background-image: url('../images/purple-blob.svg');
    background-position: 110% 50%;
  }
  .content-container {
    @apply px-8;
  }
}

/*! purgecss end ignore */
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}