/*! purgecss start ignore */
@tailwind base;

/* sofiapro-300 */
@font-face {
  font-family: 'Sofia-Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('SofiaPro Light'), local('SofiaPro-Light'), url('../fonts/Sofia\ Pro\ Light\ Az.otf');
}
/* sofiapro-900 */
@font-face {
  font-family: 'Sofia-Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('SofiaPro Black'), local('SofiaPro-Black'), url('../fonts/Sofia\ Pro\ Black\ Az.otf');
}

@tailwind components;

#tab-bar::-webkit-scrollbar {
  display: none;
}

.heading {
  @apply mb-8 text-2xl font-extrabold font-display;
}

.hero {
  @apply relative overflow-hidden;
}

.content-container {
  @apply mx-auto w-full;
}

.primary-btn {
  @apply inline-flex text-white bg-brand-blue-500 border-0 py-2 px-6 rounded font-extrabold transition duration-300 hover:bg-brand-blue-400 transform hover:scale-105 hover:translate-y-1;
}

.secondary-btn {
  @apply inline-flex bg-white text-brand-blue-500 border-0 py-3 px-6 rounded-sm font-extrabold transition duration-300 hover:bg-brand-blue-400 hover:text-white transform hover:scale-105 hover:translate-y-1;
}

.callout-card {
  @apply mb-8 w-full rounded overflow-hidden bg-white p-4 shadow-brand flex flex-row justify-start items-center transition-all duration-300 ease-out;
}

@screen sm {
  .content-container {
    @apply rounded px-6;
  }
}

@screen md {
  .heading {
    @apply ml-16;
  }
  .callout-card {
    @apply mb-0;
  }
  .callout-card:hover {
    @apply -mt-8;
  }
}

@screen lg {
  .content-container {
    @apply px-8;
  }
}

/*! purgecss end ignore */
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
